{% extends 'base.html' %}
{% load static %}
<!-- usando base.html como base -->

{% block head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" /> {% endblock %}
{% block conteudo %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg " color-on-scroll="500">
    <div class=" container-fluid  ">
        <a class="navbar-brand" href="#pablo"> Coberturas </a>
        <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar burger-lines"></span>
            <span class="navbar-toggler-bar burger-lines"></span>
            <span class="navbar-toggler-bar burger-lines"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="dropdown">
                        <span class="d-lg-none">Coberturas</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'caprino.contas:Sair' %}">
                        <span class="no-icon">SAIR</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {#  Mensagens de erro  #}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>   
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Atualizar Cobertura</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>Início</label>
                                        <!-- {{ cobertura_form.inicio_cobertura }} -->
                                        <!-- <input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc."> -->
                                        {% if cobertura_form.inicio_cobertura.value.day < 10 and cobertura_form.inicio_cobertura.value.month < 10 %}
                                            <input name="inicio_cobertura" type="date" class="form-control" placeholder="Company" value="{{ cobertura_form.inicio_cobertura.value.year }}-0{{ cobertura_form.inicio_cobertura.value.month }}-0{{ cobertura_form.inicio_cobertura.value.day }}">
                                        {% elif cobertura_form.inicio_cobertura.value.day < 10 and cobertura_form.inicio_cobertura.value.month >= 10 %}
                                            <input name="inicio_cobertura" type="date" class="form-control" placeholder="Company" value="{{ cobertura_form.inicio_cobertura.value.year }}-{{ cobertura_form.inicio_cobertura.value.month }}-0{{ cobertura_form.inicio_cobertura.value.day }}">
                                        {% elif cobertura_form.inicio_cobertura.value.day >= 10 and cobertura_form.inicio_cobertura.value.month < 10 %}
                                            <input name="inicio_cobertura" type="date" class="form-control" placeholder="Company" value="{{ cobertura_form.inicio_cobertura.value.year }}-0{{ cobertura_form.inicio_cobertura.value.month }}-{{ cobertura_form.inicio_cobertura.value.day }}">
                                        {% else %}
                                            <input name="inicio_cobertura" type="date" class="form-control" placeholder="Company" value="{{ cobertura_form.inicio_cobertura.value.year }}-{{ cobertura_form.inicio_cobertura.value.month }}-{{ cobertura_form.inicio_cobertura.value.day }}">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-4 px-1">
                                    <div class="form-group">
                                        <label>Fim</label>
                                        <!-- {{ cobertura_form.fim_cobertura }} -->
                                        <!-- <input type="text" class="form-control" placeholder="Username" value="michael23"> -->
                                        {% if cobertura_form.fim_cobertura.value.day < 10 and cobertura_form.fim_cobertura.value.month < 10 %}
                                            <input name="fim_cobertura" type="date" class="form-control" placeholder="Company" value="{{ cobertura_form.fim_cobertura.value.year }}-0{{ cobertura_form.fim_cobertura.value.month }}-0{{ cobertura_form.fim_cobertura.value.day }}">
                                        {% elif cobertura_form.fim_cobertura.value.day < 10 and cobertura_form.fim_cobertura.value.month >= 10 %}
                                            <input name="fim_cobertura" type="date" class="form-control" placeholder="Company" value="{{ cobertura_form.fim_cobertura.value.year }}-{{ cobertura_form.fim_cobertura.value.month }}-0{{ cobertura_form.fim_cobertura.value.day }}">
                                        {% elif cobertura_form.fim_cobertura.value.day >= 10 and cobertura_form.fim_cobertura.value.month < 10 %}
                                            <input name="fim_cobertura" type="date" class="form-control" placeholder="Company" value="{{ cobertura_form.fim_cobertura.value.year }}-0{{ cobertura_form.fim_cobertura.value.month }}-{{ cobertura_form.fim_cobertura.value.day }}">
                                        {% else %}
                                            <input name="fim_cobertura" type="date" class="form-control" placeholder="Company" value="{{ cobertura_form.fim_cobertura.value.year }}-{{ cobertura_form.fim_cobertura.value.month }}-{{ cobertura_form.fim_cobertura.value.day }}">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-4 px-1">
                                    <div class="form-group">
                                        <label>Bode</label>
                                        {{ cobertura_form.id_bode }}
                                        <!-- <input type="text" class="form-control" placeholder="Username" value="michael23"> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pr-1">
                                    <div class="form-group">
                                        <label>Cabras</label>
                                        {{ cobertura_form.id_cabra }}
                                        <!-- <input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc."> -->
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Salvar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Brinco</th>
                                    <th>Diagnóstico</th>
                                </tr>
                            </thead>
                            <tbody>
                                     {% for cabra in cabras %}
                                    <tr>
                                        <td>{{ cabra.id_cabra }}</td>
                                        {% if cabra.status_cobertura == '1' %}
                                            <td>Positivo</td>
                                        {% elif cabra.status_cobertura == '0' %}
                                            <td>Negativo</td>
                                        {% else %}
                                            <td>Sem registro</td>
                                        {% endif %}
                                        <td>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a href="{% url 'caprino.animais:StatusCobertura' id_cab=cabra.id_cabra_id valor=1 id_cob=cob%}" title="Positivo">
                                                        <i class="fa fa-thumbs-up fa-lg text-success"></i>
                                                    </a>
                                                </div>
                                                <div class="col-md-6">
                                                    <a href="{% url 'caprino.animais:StatusCobertura' id_cab=cabra.id_cabra_id valor=0 id_cob=cob%}" title="Negativo">
                                                        <i class="fa fa-thumbs-down fa-lg text-danger"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2();
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script> {% endblock %}