{% extends 'base.html' %}
<!-- usando base.html como base -->

{% block head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}


{% block conteudo %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg " color-on-scroll="500">
    <div class=" container-fluid  ">
        <a class="navbar-brand" href="#pablo"> Predição </a>
        <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar burger-lines"></span>
            <span class="navbar-toggler-bar burger-lines"></span>
            <span class="navbar-toggler-bar burger-lines"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="dropdown">
                        <span class="d-lg-none">Predição</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'caprino.contas:Sair' %}">
                        <span class="no-icon">SAIR</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Predição Produção Leiteira</h4>
                    </div>
                    <div class="card-body">
                        <br>

                        <form method="POST" action="{% url 'caprino.rede:MontaDados' %}" id="predicao">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Data</label><span style="color: red">*</span>
                                        <i data-toggle="tooltip" title="" class="fa fa-info-circle" aria-hidden="true" data-original-title="Data de início"></i>
                                        <input name="data" id="data" type="date" class="form-control" required="required">
                                        <!-- <input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc."> -->
                                    </div>
                                </div>
                            </div>    
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Cabras</label><span style="color: red">*</span>
                                        <i data-toggle="tooltip" title="" class="fa fa-info-circle" aria-hidden="true" data-original-title="Cabras em produção na data informada"></i>
                                        <select class="rede form-control" multiple="multiple" name="cabras[]" id="cabras">
                                            {% for a in animais %}
                                                <option value="{{ a.id }}">
                                                    {{ a.brincos_animal }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button style="margin-bottom: 20px; margin-left: 20px; float: right;" type="submit" class="btn btn-success btn-fill btn-wd">Gerar Predição</button>
                            <!-- <a style="margin-bottom: 20px; margin-left: 20px; float: right;" class="btn btn-success btn-fill btn-wd" href="{% url 'caprino.rede:MontaDados' %}"title="Gerar Predição">Gerar Predição</a> -->
                            <a style="margin-bottom: 20px; margin-left: 20px; float: right;" class="btn btn-primary btn-fill btn-wd" href="{% url 'caprino.rede:MontaDados' %}" title="Rede">Teste</a>
                           
                        </form>
                        
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %} 

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {

            $('.rede').select2();

            $('#predicao').submit(function(e) {
                e.preventDefault();
                
                $.post("{% url 'caprino.rede:MontaDados' %}", {
                    data: $('#data').val(),
                    cabras: JSON.stringify($('#cabras').val()),
                    csrfmiddlewaretoken: $('#predicao').children()[0].value
                });

            });
        });
    </script>
{% endblock %}