{% extends 'base.html' %} <!-- usando base.html como base -->
{% load static %}
{% block conteudo %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg " color-on-scroll="500">
    <div class=" container-fluid  ">
        <a class="navbar-brand" href="#pablo"> Principal </a>
        <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar burger-lines"></span>
            <span class="navbar-toggler-bar burger-lines"></span>
            <span class="navbar-toggler-bar burger-lines"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="dropdown">
                        <span class="d-lg-none">Principal</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'caprino.contas:Sair' %}">
                        <span class="no-icon">SAIR</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->

<div class="content">
        <div class="container-fluid">
            <center>
                <img src="{% static 'img/if.png' %}" max-width="300px" max-height="100px"/>
            </center>
            <br>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <p>Trabalho de Conclusão de Curso - 2018</p>
                    <p>Desenvolvido para o setor de caprinocultura do IFSULDEMINAS - Câmpus Muzambinho</p>
                    <p>Desenvolvido por: Vitória Mendes da Silva</p>
                    <p>Orientação: Aline Marques Del Valle</p>
                    <p>Coorientação: Lucas Alberto Teixeira de Rezende</p>
                </div>
                <div class="col-md-6">
                    <img src="{% static 'img/Foto 1.jpg' %}" width="500px" height="300px"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}