{% extends 'base.html' %}
<!-- usando base.html como base -->
{% block conteudo %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg " color-on-scroll="500">
    <div class=" container-fluid  ">
        <a class="navbar-brand" href="#pablo">Cabras </a>
        <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar burger-lines"></span>
            <span class="navbar-toggler-bar burger-lines"></span>
            <span class="navbar-toggler-bar burger-lines"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="dropdown">
                        <span class="d-lg-none">Cabras</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'caprino.contas:Sair' %}">
                        <span class="no-icon">SAIR</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {#  Mensagens de erro  #}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>   
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">Cabras</h4>
                        {% comment %}
                        <p class="card-category">Here is a subtitle for this table</p> {% endcomment %}
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Brincos</th>
                                    {% comment %} <th>Raça</th> {% endcomment %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for animal in animais %}
                                <tr>
                                    <td>{{ animal.brincos_animal }}</td>
                                    <td><a class="btn btn-success btn-fill btn-wd" href="{% url 'caprino.animais:Mostra_Producao' animal.id %}" title="Nova Produção">Nova Produção</a></td>
                                    {% comment %} <td>{{ animal.raca_animal }}</td> {% endcomment %}

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        {% if animais.has_other_pages %}
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                {% if animais.has_previous %}
                                    <li class="page-link"><a href="?page={{ animais.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                    <li class="page-link disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in animais.paginator.page_range %}
                                    {% if animais.number == i %}
                                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if animais.has_next %}
                                    <li class="page-link"><a href="?page={{ animais.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                    <li class="page-link disabled"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                        </nav>
                        {% endif %}

                        {% comment %} <a style="float:right;" class="btn btn-success" href="{% url 'caprino.animais:Novo_Animal' %}" role="button">Novo Animal</a> {% endcomment %}

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}