{% extends 'base.html' %}
<!-- usando base.html como base -->
{% block conteudo %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg " color-on-scroll="500">
    <div class=" container-fluid  ">
        <a class="navbar-brand" href="#pablo">Animais </a>
        <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar burger-lines"></span>
            <span class="navbar-toggler-bar burger-lines"></span>
            <span class="navbar-toggler-bar burger-lines"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="dropdown">
                        <span class="d-lg-none">Animais</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'caprino.contas:Sair' %}">
                        <span class="no-icon">SAIR</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">Cabras Cadastradas</h4>
                        {% comment %} <p class="card-category">Here is a subtitle for this table</p> {% endcomment %}
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Número</th>
                                    <th>Raça</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cabra in cabras %}
                                <tr>
                                    <td>{{ cabra.numero_cabra }}</td>
                                    <td>{{ cabra.raca_cabra }}</td>
                                    <td><a href="{% url 'caprino.animais:Delete_Cabra' cabra.id %}">Deletar</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <a style="float:right;" class="btn btn-success" href="{% url 'caprino.animais:Nova_Cabra' %}" role="button">Nova Cabra</a>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">Bodes Cadastrados</h4>
                        {% comment %}
                        <p class="card-category">Here is a subtitle for this table</p> {% endcomment %}
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for bode in bodes %}
                                <tr>
                                    <td>{{ bode.nome_bode }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <a style="float:right;" class="btn btn-success" href="{% url 'caprino.animais:Novo_Bode' %}" role="button">Novo Bode</a>
            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}