{% extends 'base.html' %}
<!-- usando base.html como base -->
{% block conteudo %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg " color-on-scroll="500">
    <div class=" container-fluid  ">
        <a class="navbar-brand" href="#pablo"> Relatórios </a>
        <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar burger-lines"></span>
            <span class="navbar-toggler-bar burger-lines"></span>
            <span class="navbar-toggler-bar burger-lines"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="dropdown">
                        <span class="d-lg-none">Relatórios</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'caprino.contas:Sair' %}">
                        <span class="no-icon">SAIR</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Relatórios Descartes</h4>
                    </div>
                    <div class="card-body">
                        <br>

                        
                        <form method="POST" action="{% url 'caprino.animais:RelatoriosDescarte' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Cabra</label>
                                    <select class="form-control" name="cabra">
                                        <option value="0">Selecione uma opção</option>
                                        {% for c in cabras %}
                                            <option value="{{ c.id }}">{{ c.brincos_animal }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Início</label>
                                        <!-- <i data-toggle="tooltip" title="" class="fa fa-info-circle" aria-hidden="true" data-original-title="Data de início do Período de Cobertura"></i> -->
                                        <input name="inicio" type="date" class="form-control">
                                        <!-- <input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc."> -->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Fim</label>
                                        <!-- <i data-toggle="tooltip" title="" class="fa fa-info-circle" aria-hidden="true" data-original-title="Data de fim do Período de Cobertura"></i> -->
                                        <input name="fim" type="date" class="form-control">
                                        <!-- <input type="text" class="form-control" placeholder="Username" value="michael23"> -->
                                    </div>
                                </div>
                            </div>
                            <button style="margin-bottom: 20px; float: right;" type="submit" class="btn btn-success btn-fill btn-wd">Gerar relatório</button>
                        </form>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %} 